* {
    margin: 0;
    
}

body {
    font-family: Raleway, Arial, Helvetica, sans-serif; /* кроме Raleway добавьте
                                                         * несколько запасных шрифтов */
}

p {
    font-size: 14px;
    color: #999;
    line-height: 1.6;
}

h1 {
    font-size: 40px;
    color: white;
}

h2 {
    font-size: 28px;
}
h3 {
    font-size: 26px;
}
h2, h3 {
    color: #282828;
}

.container {
    width: 90%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.brand {
    font-size: 30px;
}

.menu li {
    float: left;
    list-style: none;
    font-size: 16px;
}

header .menu li a {
    color: #aaa;
}
.menu li a {
    text-decoration: none;
}

header {
    background-color: white;
    margin-top: 30px;
}

header .brand {
    float: left;
    color: #59abe3;
    margin-bottom: 30px;
}
header .menu {
    margin-top: 30px;
}
header .menu {
    float: right;
    margin-bottom: 30px;
}   

header .menu li{
    padding-left: 20px;
    color: #aaa;
}

.jumbotron {
    background-image: url(../img/jumbotron.jpeg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 250px;
    text-align: center;
    clear: both;
}

.button {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    margin-top: 40px;
    background-color: #fa5ba5;
    padding: 20px 30px;
    border-radius: 30px;
}

.services .service {
    width: 33.333333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.services {
    padding-top: 50px;
    text-align: center;
}

.services .service .img_boder{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.services .service .img_boder img{
    width: 100%;
}

.service .fa {
    color: #979797;
    margin-bottom: 15px; /* и добавим небольшой отступ */
}

.blog {
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fcfcfc;
}

.blog h2 {
    text-align: center;
}

.blog .post {
    padding-top: 30px;
    display: inline-block;
}

.blog .post img {
    float: left;
    margin-right: 30px;
    width: 150px;
}

footer {
    clear: both;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #38404b;
}

footer .brand {
    color: #bcc9dd;
}
footer .menu li {
    padding-left: 10px;
    padding-right: 10px;
}
footer .menu li a {
    color: #bcc9dd;
}
footer .menu {
    display: inline-block;
    margin-top: 30px; /* также добавим отступы */
    margin-bottom: 15px;
}
footer .copyright {
    font-size: 12px;
    color: #eee;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width: 575px) {
    .services .service {
        width: 100%;
        float: none;
    }
    .blog .post img {
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .blog .post {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    
}